<!DOCTYPE html>
<html>
<head th:insert="head :: head">
	<meta charset="ISO-8859-1">
	<title>Emilima - Acceso al sistema</title>
</head>
<body>
	<div class="container">
		<div th:replace="header :: headerbar"></div>
		<div class="desktop-container">
			<div th:replace="header :: headercont"></div>
			<div class="main-cont">
				<main>
                    <div>
						<form action="cargo/actualizar" method="post" th:object={cargo}>
							<c:if test="${mensaje != null }">
								<div class="mensaje-registro">
									<div th:if="${success} != null"  th:text="${success}"></div>
									<div th:if="${error} != null" th:text="${error}"></div>
								</div>	
							</c:if>
							<section class="head-page">
								<div class="title-page">
									<h1>Actualizar Cargo</h1>
								</div>
							</section>
							<section class="body-page">
								<div class="fieldset">
									<h2>Cargo</h2>
								</div>
								<div class="form-information">
									<div class="form-cont dni">
										<label class="label-form" for="dni">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
												<path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
												<path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
											</svg>
											Buscar por ID Cargo
										</label>
										<div class="input-search-dni">
											<input th:field="*{idCargo}" class="input-form" type="text" id="idCargo" name="idCargo" value="${cargo.idCargo }" placeholder="Ingresar id cargo" required>
											<button class="btn btn-dni" type="submit" value="b" name="opcion">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
													<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
												</svg>
											</button>
										</div>
										<p class="message-t">${mensajeCargo }</p>
									</div>
									<div class="info-worker">
										<div class="form-cont name">
											<label class="label-form" for="nombres">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
												<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
											</svg>
											Nombre del cargo
											</label>
											<input th:field="*{cargo}" class="input-form" type="text" name="nombre" id="nombre" value="${cargo.cargo }" >
										</div>
									</div>
								</div>
								<div class="btn-c-cont">
									<button class="btn btn-submit btn-c" type="submit" value="a" name="opcion">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2-fill" viewBox="0 0 16 16">
											<path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z"/>
										</svg>
										Actualizar Cargo
									</button>
								</div>
							</section>
						</form>
					</div>
				</main>
			</div>
		</div>
		<footer th:replace="footer :: footer"></footer>
	</div>
</body>
</html>