<!DOCTYPE html>
<html>
<head th:insert="head :: head">
	<meta charset="ISO-8859-1">
	<title>Emilima - Acceso al sistema</title>
</head>
<body>
	<div class="container">
		<div th:replace="header :: headerbar"></div>
		<div class="desktop-container">
			<div th:replace="header :: headercont"></div>
			<div class="main-cont">
				<main>
	<div>

		<section class="head-page">
			<div class="title-page">
				<h1>Buscar Contrato Laboral</h1>
			</div>
		</section>
		<section class="body-page">
			<form action="/contrato/buscar" method="post" th:object="${contrato}">
				<div class="form-information">
					<div class="form-cont ">
						<label class="label-form" for="idContrato">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-file-earmark-text" viewBox="0 0 16 16">
								<path
									d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
								<path
									d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
							</svg>
							Bucar Contrato:
						</label>
						<div class="input-search-dni" >
							<input 
								type="text" 
								class="input-form" 
								th:field="*{idContrato}"
								id="idContrato"
								placeholder="Ingresar codigo de contrato" required
							/>
							
							<button class="btn btn-dni" type="submit">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-search" viewBox="0 0 16 16">
									<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
								</svg>
							</button>
						</div>
						<p
							th:if="${mensajeContrato} != null"
							class="message-t"
							th:text="${mensajeContrato}"
							>
						</p>
					</div>
				</div>
			</form>
			<div class="table-cont">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Numero de contrato</th>
							<th scope="col">Fecha</th>
							<th scope="col">Tipo Contrato</th>
							<th scope="col">Estado</th>
							<th scope="col">Contrato Adjunto PDF</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each = "c : *{listaContratos}">
							<td scope="row" th:text="${c.idContrato}"></td>
							<td th:text="${c.fechaInicio}"></td>
							<td th:text="${c.tipo}"></td>
							<td th:text="${c.estado}"></td>
							<td>
								<a th:href="*{c.contratoPdf }" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-file-earmark-pdf-fill"
										viewBox="0 0 16 16">
										<path
											d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
										<path fill-rule="evenodd"
											d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
									</svg>
								</a>
							</td>
							<td class="menu-cont">
								<a  class="menu-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
									</svg>
								</a>
								<div id="${c.idContrato}" class="menu-cont-open">
									<ul>
										<li><a onclick="mostrarVista('${c.idContrato}')">Adujuntar
												Contrato VF</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</section>
	</div>
</main>
			</div>
		</div>
		<div id="vistaAdjuntar" class="drag-drop-cont">
			<h2>Ajuntar Contrato VF</h2>
			<div class="drag-area" id="dragArea">
				<h2>Arraste y suelta el archivo</h2>
				<button>Selecciona tus archivos</button>
				<p id="idContratoV"></p>
				<input type="file" name="" id="file" hidden>
			</div>
			<div id="preview">
				
			</div>
			<a onclick="cerraVista()" class="btn-cerrar-vista">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
				</svg>
				Cerrar
			</a>
		</div>
		<footer th:replace="footer :: footer"></footer>
	</div>
</body>
</html>