<!DOCTYPE html>
<html>
<head th:insert="head :: head">
	<meta charset="ISO-8859-1">
	<title>Emilima - Acceso al sistema</title>
</head>
<body>
	<div class="container">
		<div th:replace="header :: headerbar"></div>
		<div class="desktop-container">
			<div th:replace="header :: headercont"></div>
			<div class="main-cont">
				<main>
                    <div>
						
						<section class="head-page">
							<div class="title-page">
								<h1>Lista Trabajadores</h1>
							</div>
						</section>
						<section class="body-page">					
								<div class="table-cont">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Nro DNI</th>
												<th scope="col">Nombres</th>
												<th scope="col">Apellidos</th>
												<th scope="col">Direccion</th>
												<th scope="col">Ciudad</th>
												<th scope="col">Provincia</th>
												<th scope="col">Distrito</th>
											</tr>
										</thead>
										<tbody>
											<c:if test="${lstTrabajadores != null }">
												<c:forEach items="${lstTrabajadores}" var="t">
													<tr th:each = "t : *{lstTrabajadores}">
														<td scope="row" th:text="${t.dni}"></td>
														<td th:text="${t.nombres}"></td>
														<td th:text="${t.apellidos}"></td>
														<td th:text="${t.direccion}"></td>												
														<td th:text="${t.idCiudad}"></td >													
														<td th:text="${t.idProvincia}"></td>
														<td th:text="${t.idDistrito}"></td>
													</tr>
												</c:forEach>
											</c:if>
										</tbody>
									</table> 
									<c:if test="${lstTrabajadores == null }">
										<!--<div th:if="${mensaje} != null" th:text="${mensaje}"></div>-->
									</c:if>
								</div>
						</section>
					</div>
				</main>
			</div>
		</div>
		<footer th:replace="footer :: footer"></footer>
	</div>
</body>
</html>