<!DOCTYPE html>
<html>
<head th:insert="head :: head">
	<meta charset="ISO-8859-1">
	<title>Emilima - Acceso al sistema</title>
</head>
<body>
	<div class="container">
		<div th:replace="header :: headerbar"></div>
		<div class="desktop-container">
			<div th:replace="header :: headercont"></div>
			<div class="main-cont">
				<main>
                    <div>
						<form action="/cargo/registrar" method="post" th:object="${cargo}">
							<div
								th:if="${mensajeRegistro} != null"
								class="mensaje-registro"
								th:text="${mensajeRegistro}"
							></div>
							<section class="head-page">
								<div class="title-page">
									<h1>Registrar Cargo</h1>
								</div>
							</section>
							<section class="body-page">
								<div class="fieldset">
									<h2>Cargo</h2>
								</div>
								<div class="form-information">
									<div class="info-worker">
										<div class="form-cont name">
											<label class="label-form" for="nombres">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
												<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
											</svg>
											Nombre de Cargo
											</label>
											<input th:field="*{cargo}" class="input-form" type="text" name="nombre" id="nombre" placeholder="Ingresar nombre de Cargo" required>
										</div>
									</div>
								<div class="btn-c-cont">
									<button class="btn btn-submit btn-c" type="submit" value="r" name="opcion">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2-fill" viewBox="0 0 16 16">
											<path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z"/>
										</svg>
										Registar Cargo
									</button>
								</div>
							</section>
						</form>
					</div>
				</main>
			</div>
		</div>
		<footer th:replace="footer :: footer"></footer>
	</div>
</body>
</html>